:root{
    --background-color: #170C23;
    --text-color: #d8e6e6;
    --surface-color: #262626;
    --accent-color: #066fd1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: var(--background-color);
  width: 100vw;
}