@import url('https://fonts.googleapis.com/css?family=Noto+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}
.sideDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

h1{
    color: #11F897;
    text-transform: uppercase;
}

.mainDiv{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #2F1E3F;
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
input{
    border-radius: 15px;
    border: 0;
    height: 45px;
    width: 300px;
    background-color: #56456B;
    color: aliceblue;
    outline: none;
    padding-left: 15px;
    box-shadow: 0px 10px 40px #150524;
}

form > button{
    background-color:#11F897;
    border: 0;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    transition: 0.2s;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 10px 40px -5px #085A43;
    color: #2F1E3F;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5px;
}
form > button:hover{
    background-color: #0dbe75;
    transition: 0.2s;
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    display: flex;
    align-items: center; 
    margin-bottom: 15px;
    background-color: #2F1E3F;
    padding: 10px;
    border-radius: 6px;
    color: aliceblue;
}

span{
    padding-inline: 25px;
    flex-grow: 1;
    cursor: pointer;
}

li > button{
    background-color: #56456B;
    color: white;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 8px;
    cursor: pointer;
}